#chartOverlay {
    position: absolute;
    top: auto;
    bottom: 25px;
    right: 10px;
    width: 540px; /* ajustar según necesidad */
    height: 250px; /* ajustar según necesidad */
    background-color: rgba(255, 255, 255, 0.7); /* fondo blanco con transparencia */
    border-radius: 5px;
    overflow: auto; /* permitir desplazamiento si el contenido es muy grande */
    padding: 10px;
    z-index: 10; /* garantizar que aparezca sobre otros elementos */
}

#chartOverlay.minimized {
    height: 30px; /* o el tamaño que prefieras para el botón */
    width: 120px; /* ajusta según necesites */
    overflow: hidden
    ;
}

.chartOverlay .chart-button {
    padding: 10px 10px;
    margin: 5px;
    font-size: 14px;
    cursor: pointer;
  }