/* src/styles/TsVis.css */
.tsvis-container {
  position: relative; /* Cambiado a relative para que se ajuste al contenedor padre */
  height: 100%; /* Ajustar al 100% del contenedor padre */
  max-height: 290px; /* Limitar el ancho máximo a 280px */
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  padding: 0px;
  z-index: 10;
  display: flex;
  flex-direction: column; /* Organizar los elementos en una columna */
  align-items: center;
  justify-content: space-between; /* Espacio entre los elementos */
}

.tsvis-buttons {
  margin-bottom: 5px;
}

.tsvis-buttons button {
  margin-right: 5px;
  padding: 5px 5px;
  cursor: pointer;
}


.tsvis-images-container {
  display: flex;
  justify-content: center;
  overflow-x: auto; /* Permitir desplazamiento horizontal */
  white-space: nowrap;
  width: 100%; /* Asegurar que el contenedor ocupe todo el ancho disponible */
}

.tsvis-image-container {
  display: inline-block;
  margin: 10px;
}

.tsvis-image-container img {
  width: auto;
  height: 135px;
}

.tsvis-image-container p {
  text-align: center;
}

.tsvis-legend {
  text-align: center;
  margin-top: 0px;
}

.tsvis-legend img {
  max-width: 35%;
  height: auto;
}