/* src/styles/Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px; /* Altura fija */
  background-color: #2c3e50;
  color: white;
  padding: 0 20px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  z-index: 2000; /* Asegura que el navbar esté encima */
}
/* 
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #2c3e50;
  color: white;
  padding: 0 20px;
} */

.navbar-center .tool-btn {
  margin-right: 10px;
  background-color: #3498db;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.user-btn {
  background-color: #ecf0f1;
  border: none;
  color: #2c3e50;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
}


/* HEADER */
.header {
  align-items: center;
  display: flex;
  height: 50px; /* EVALUAR POR QUE ES 69PX EN GEONADIR*/
  padding: 0 10px;
  justify-content: space-between;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  text-align: center;
  --tw-shadow: 0px 1px 0px 0px rgba(0, 0, 0, .05);
  --tw-shadow-colored: 0px 1px 0px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow)
}

.details-header-breadcrumb {
  margin-bottom: auto;
  margin-left: 16px;
  margin-top: auto;
  display: flex;
  width: 100%;
  gap: .25rem;
  text-align: left
}

.details-header-breadcrumb.popup-header-breadcrumb {
  margin-left: 32px;
  margin-top: 0
}

.details-header-breadcrumb .header-project-name {
  margin-right: 1rem;
  font-family: Archivo;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700
}

.new-layer-warpper {
  margin-top: 1rem;
  margin-right: 1.5rem;
  display: flex;
  height: 2.25rem;
  flex-direction: row;
  align-items: center;
  gap: .5rem
}


/* Navbar icons */
.header-back-btn {
  display: flex;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700
}

.header-back-btn i {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: .5rem;
  cursor: pointer;
  font-size: 1.25rem;
  line-height: 1.75rem;
  --tw-text-opacity: 1;
  color: rgb(116 123 132 / var(--tw-text-opacity))
}

/* Draw icons */
.draw-icons-wrapper img {
  height: 2.5rem;
  width: 2.5rem
}

.darwing-icons {
  display: flex;
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: .625rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(235 238 242 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(244 246 249 / var(--tw-bg-opacity))
}

.darwing-icons:hover {
  --tw-border-opacity: 1;
  border-color: rgb(0 172 187 / var(--tw-border-opacity))
}

.darwing-icons.is-disabled {
  --tw-bg-opacity: 1;
  background-color: rgb(244 246 249 / var(--tw-bg-opacity))
}

.darwing-icons.is-selected {
  --tw-border-opacity: 1;
  border-color: rgb(0 172 187 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(202 237 241 / var(--tw-bg-opacity))
}

.darwing-icons img {
  height: 1.358rem;
  width: 1.237rem
}

