/* Navbar general */
.header {
  display: flex;
  align-items: center; /* Centrar elementos verticalmente */
  justify-content: space-between; /* Separar las secciones del navbar */
  height: 50px;
  background-color: #ffffff;
  padding: 0 20px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  z-index: 2000;
}

/* Sección izquierda */
.navbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.draw-icons-wrapper {
  display: flex;
  gap: 10px;
}

.darwing-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.darwing-icons img {
  width: 20px;
  height: 20px;
}

.darwing-icons:hover {
  background-color: #e6f4ff;
}

/* Sección central */
.navbar-center h1 {
  font-size: 18px;
  font-weight: bold;
  color: #333333;
  margin: 0;
  text-align: center;
}

/* Sección derecha */
.navbar-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-btn {
  background-color: #ecf0f1;
  border: none;
  color: #2c3e50;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-btn:hover {
  background-color: #d6dbdf;
}
