/* General del Sidebar Derecho */
.right-sidebar {
  position: absolute;
  top: 50px; /* La altura del Navbar */
  right: 0;
  height: calc(100% - 50px); /* Altura total menos el Navbar */
  background: rgba(44, 62, 80, 0.95);
  color: white;
  border-left: 1px solid #ddd;
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  overflow-y: auto; /* Permite scroll interno si el contenido excede */
  width: 400px; /* Cambia el ancho inicial */
  transition: width 0.3s ease-in-out; /* Transición suave para ancho */
}

.right-sidebar.collapsed {
  width: 50px; /* Ancho colapsado */
}

.toggle-wrapper {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  background-color: #2c3e50; /* Fondo consistente */
}

.toggle-button {
  background-color: #3498db; /* Azul primario */
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s ease;
}

.toggle-button:hover {
  background-color: #2980b9; /* Azul más oscuro al pasar el ratón */
}

.sidebar-content {
  padding: 10px;
}

.sidebar-content ul {
  list-style: none;
  padding: 0;
}

.sidebar-content li {
  margin-bottom: 10px;
}

.sidebar-content button {
  width: 100%;
  padding: 10px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  text-align: left;
}

.sidebar-content button:hover {
  background-color: #2980b9;
}