/* Draw styles */
.drawContainer {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.drawButtons {
    width: 220px;
    /* margin-top: 15px; */
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    justify-content: space-between;
    align-items: center;
}

.drawButton {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    width: 50px;
    height: 50px;
    background-color: #a3a3a3;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
}

.drawButton:hover {
    background-color: #64a8db;
}

.drawButton:active,
.drawButton:focus {
    background-color: #01579B;
}

#drawRectangle {
    background-image: url("img/rectangle.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
}

#drawPoint {
    background-image: url("img/dot.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
}

#drawPolygon {
    background-image: url("img/polygon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
}

#drawClear {
    background-image: url("img/delete.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F45050;
    background-size: 20px;
    opacity: 0.8;
}

.drawClear:hover {
    background-color: #851a1a;
}

.drawClear:focus {
    background-color: #F45050;
}

/* Calendar */
.group {
    position: relative;
    margin: 30px 20px 50px;
}

input {
    color: #424242;
    font-size: 1.2em;
    padding: 10px 10px 5px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #607D8B;
}
input:focus {
    outline: none;
}

label.input-label {
    color: #616161;
    position: absolute;
}

input:focus ~ label.input-label {
    color: #0288D1;
}

input[readonly] ~ label.input-label {
    top: -15px;
    font-size: 0.9em;
}

.bar {
    position: relative;
    display: block;
    width: 315px;
}

.bar:before,
.bar:after {
    background: #0288D1;
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

input:focus ~ .bar:before,
input:focus ~ .bar:after {
    width: 50%;
}


/*  */

/* run button */
.runButton {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    width: 100px;
    height: 50px;
    background-color: #dadada;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    margin-top: 15px;
    margin-left: auto;
}
.runButton:hover {
    background-color: #0288D1;
}

/* CustomLayerSwitcher */
.planet-custom-controls {
    margin-top: 5px; /* Pequeña separación del control de opacidad */
    padding: 5px; /* Espaciado interno */
    background-color: #f8f9fa; /* Fondo claro */
    border: 1px solid #dee2e6; /* Borde tenue */
    border-radius: 5px; /* Bordes redondeados */
    display: flex; /* Flexbox para alinear los selects */
    flex-direction: row; /* Coloca los selects en fila */
    gap: 10px; /* Espaciado entre los selects */
}
  
.planet-custom-controls select {
    flex: 1; /* Permite que los selects ocupen espacio igual */
    padding: 5px; /* Espaciado interno */
    font-size: 14px; /* Tamaño de fuente */
    border: 1px solid #ced4da; /* Borde estándar */
    border-radius: 5px; /* Bordes redondeados */
    background-color: #ffffff; /* Fondo blanco */
    color: #495057; /* Texto gris oscuro */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}
  
/* Ul-examples */
.examples-list {
    list-style: none;
    padding: 0;
}

.example-item {
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ddd;
    margin: 5px 0;
    border-radius: 5px;
    transition: background 0.3s;
}

.example-item:hover {
    background: #f0f0f0;
}

.example-item.selected {
    background: #007bff;
    color: white;
}

/* Indices */
.indices-list {
    list-style: none;
    padding: 0;
}

.indice-item {
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ddd;
    margin: 5px 0;
    border-radius: 5px;
    transition: background 0.3s;
}

.indice-item:hover {
    background: #f0f0f0;
}

.indice-item.selected {
    background: #007bff;
    color: white;
}